.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  width: 80%;
  height: 500px;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  font-family: "Roboto", sans-serif;
  text-align: center;

  // Glass
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header-container p {
  font-size: 1.5rem;
}

.header-container h1 {
  font-size: 4rem;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 10px;
}

.incomes-expenses-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.incomes-expenses-container h3 {
  font-size: 2.5rem;
}
