.incomes-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 80%;
    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgb(111, 172, 149);

  // Glass
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.income-table{
    margin-bottom: 30px;
}